src/test/resources/error-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:error="http://www.mulesoft.org/schema/mule/error"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
        http://www.mulesoft.org/schema/mule/error http://www.mulesoft.org/schema/mule/error/current/mule-error.xsd
        http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd">


    <flow name="ErrorShouldNotPreventProcessing">
        <vm:inbound-endpoint path="test.hello" exchange-pattern="request-response"/>
        <error:try catch-ref="testExceptionStrategy">
            <processor-chain>
                <logger level="INFO" category="ErrorShouldNotPreventProcessing" message="Throwing a test exception.."/>
                <test:component throwException="true"/>
                <logger level="INFO" category="ErrorShouldNotPreventProcessing" message="I don't really exist!"/>
            </processor-chain>
        </error:try>
        <set-payload value="Hello #[payload]!"/>
    </flow>

    <flow name="ErrorShouldNotBreakForeachLoop">
        <vm:inbound-endpoint path="test.loop" exchange-pattern="request-response"/>
        <foreach counterVariableName="counter">
            <error:try catch-ref="testExceptionStrategy">
                <choice>
                    <when expression="#[counter % 2 == 0]">
                        <vm:outbound-endpoint path="test.error.loop.success"/>
                    </when>
                    <otherwise>
                        <logger level="INFO" category="testFlow" message="Throwing a test exception.."/>
                        <test:component throwException="true"/>
                    </otherwise>
                </choice>
            </error:try>
        </foreach>
    </flow>

    <catch-exception-strategy name="testExceptionStrategy">
        <logger level="ERROR" category="TestExceptionStrategy" message="Oh no.. #[payload]"/>
        <vm:outbound-endpoint path="test.error"/>
    </catch-exception-strategy>
</mule>